@model Blog.Models.IndexView

<header class="page-header"></header>
<div class="container">
    <section>
        <div class="feature-posts">
            <a href="#" class="feature-post-item">
                <span>Category Posts</span>
            </a>
            @foreach(var item in Model.UniqueCategories.OrderBy(x => Guid.NewGuid()).Take(4)){
                <a href="~/Category/@item.Id" class="feature-post-item">
                    <img src="~/admin/img/@item.Image" class="w-100" style="width:300px; height:210px">
                    <div class="feature-post-caption">@item.Name</div>
                </a>
            }


        </div>
    </section>
    <hr>
    <div class="page-container">
        <div class="page-content">
            <div class="card">

                @foreach(var item in Model.Posts.OrderBy(x => Guid.NewGuid()).Take(1)){
                    <div class="card-header text-center">
                        <h5 class="card-title">@item.Title</h5>
                        <small class="small text-muted">
                            @item.CreatedAt?.ToString("MMMM dd, yyyy")
                        </small>
                    </div>
                    <div class="card-body">
                        <div class="blog-media">
                            <img src="~/admin/img/@item.Image" alt="" width="787px" height="517px" class="w-100" loading="lazy">
                            <a href="#" class="badge badge-primary">#@item.Category.Name</a>
                        </div>
                        <p class="my-3">@item.Content</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center flex-basis-0">
                        <button class="btn btn-primary circle-35 mr-4"><i class="ti-back-right"></i></button>
                        <a href="~/Detail/@item.Id" class="btn btn-outline-dark btn-sm">READ MORE</a>
                        <a href="#" class="text-dark small text-muted">By : @item.User.Username</a>
                    </div>
                }



            </div>
            <hr>

            <div class="row">
                @foreach(var item in Model.Posts.OrderBy(x => Guid.NewGuid()).Take(6)){
                    <div class="col-lg-6">
                        <div class="card text-center mb-5">
                            <div class="card-header p-0">
                                <div class="blog-media">
                                    <img src="~/admin/img/@item.Image" alt="" style="width:378px; height:277px" class="w-100" loading="lazy">
                                    <a href="#" class="badge badge-primary">#@item.Category.Name</a>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <h5 class="card-title mb-2">@(item.Title.Length > 60 ? item.Title.Substring(0,60)+"..." : item.Title )</h5>
                                <small class="small text-muted">
                                    @item.CreatedAt?.ToString("MMMM dd, yyyy")
                                    
                                </small>
                                <p class="my-2">@(item.Content.Length > 100 ? item.Content.Substring(0,95)+"..." : item.Content)</p>
                            </div>

                            <div class="card-footer p-0 text-center">
                                <a href="~/Detail/@item.Id" class="btn btn-outline-dark btn-sm">READ MORE</a>
                            </div>
                        </div>
                    </div>
                }
               
            </div>
            
            <a href="~/Post" class="btn btn-primary btn-block my-4">Load More Posts</a>
        </div>

        <!-- Sidebar -->
        <div class="page-sidebar text-center">
            <h6 class="sidebar-title section-title mb-4 mt-3">About</h6>
            @foreach(var item in Model.Posts.Take(1)){
                <img src="~/admin/img/@item.User.Image" alt="" class="circle-100 mb-3" loading="lazy">
                <div class="socials mb-3 mt-2">
                    <a href="javascript:void(0)"><i class="ti-facebook"></i></a>
                    <a href="javascript:void(0)"><i class="ti-twitter"></i></a>
                    <a href="javascript:void(0)"><i class="ti-pinterest-alt"></i></a>
                    <a href="javascript:void(0)"><i class="ti-instagram"></i></a>
                    <a href="javascript:void(0)"><i class="ti-youtube"></i></a>
                </div>
                <p>@item.User.Username <br /> Email: @item.User.Email</p>
                
            }
            


            <h6 class="sidebar-title mt-5 mb-4">Newsletter</h6>
            <form action="">
                <div class="subscribe-wrapper">
                    <input type="email" class="form-control" placeholder="Email Address">
                    <button type="submit" class="btn btn-primary"><i class="ti-location-arrow"></i></button>
                </div>
            </form>

            <h6 class="sidebar-title mt-5 mb-4">Category</h6>
            @foreach(var item in Model.UniqueCategories){
                <a href="javascript:void(0)" class="badge badge-primary m-1">#@item.Name</a>
            }
          
            

            <h6 class="sidebar-title mt-5 mb-4">Hình ảnh</h6>
            <div class="row px-3">
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="~/imgs/insta-1.jpg" alt="">
                    </a>
                </div>
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="~/imgs/insta-2.jpg" alt="" class="w-100 m-0">
                    </a>
                </div>
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="~/imgs/insta-3.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="~/imgs/insta-4.jpg" alt="" class="w-100 m-0">
                    </a>
                </div>
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="~/imgs/insta-5.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="~/imgs/insta-6.jpg" alt="" class="w-100 m-0">
                    </a>
                </div>
            </div>

            @* <figure class="figure mt-5"> *@
            @*     <a href="single-post.html" class="figure-img"> *@
            @*         <img src="~/imgs/img-4.jpg" alt="" class="w-100"> *@
            @*         <figcaption class="figcaption">Laboriosam</figcaption> *@
            @*     </a> *@
            @* </figure> *@

            <h6 class="sidebar-title mt-5 mb-4">Bài luận nhiều nhất</h6>
            @foreach(var item in Model.MostComment.Take(1)){
                <div class="card mb-4">
                    <a href="~/Detail/@item.Id" class="overlay-link"></a>
                    <div class="card-header p-0">
                        <div class="blog-media">
                            <img src="~/admin/img/@item.Image" alt="" class="w-100" width="290px" height="206px">
                            <a href="~/Detail/@item.Id" class="badge badge-primary">#@item.Category.Name</a>
                        </div>
                    </div>
                    <div class="card-body px-0">
                        <h5 class="card-title mb-2">@(item.Title.Length > 20 ? item.Title.Substring(0, 20) + "..." : item.Title)</h5>
                        <small class="small text-muted">
                            <i class="ti-calendar pr-1"></i> @item.CreatedAt?.ToString("MMMM dd,yy")
                        </small>
                        <p class="my-2">@(item.Content.Length > 70 ? item.Content.Substring(0, 70) + "..." : item.Content)</p>
                    </div>
                </div>
            }
           
            @foreach (var item in Model.MostComment.Skip(1))
            {
                <div class="media text-left mb-4">
                    <a href="~/Detail/@item.Id" class="overlay-link"></a>
                    <img class="mr-3" src="~/admin/img/@item.Image" width="100px" height="73px" alt="Generic placeholder image">
                    <div class="media-body">
                        <h6 class="mt-0">@(item.Title.Length >20 ? item.Title.Substring(0,15)+"..." : item.Title)</h6>
                        <p class="mb-2">@(item.Content.Length >25 ? item.Content.Substring(0,20)+"...":item.Content)</p>
                        <p class="text-muted small"><i class="ti-calendar pr-1"></i>@item.CreatedAt?.ToString("MMMM dd,yy")</p>
                    </div>
                </div>
            }
            
            <div class="ad-card d-flex text-center align-items-center justify-content-center">
                <span href="#" class="font-weight-bold">ADS</span>
            </div>
        </div>
    </div>
</div>

<div class="instagram-wrapper mt-5">
    <div class="ig-id">
        <a href="javascript:void(0)">Follow joe_mitchell On Instagram</a>
    </div>
    <a href="javascript:void(0)" class="insta-item">
        <img src="~/imgs/insta-1.jpg" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="~/imgs/insta-2.jpg" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="~/imgs/insta-3.jpg" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="~/imgs/insta-4.jpg" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="~/imgs/insta-5.jpg" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="~/imgs/insta-6.jpg" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
</div>